* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100%;
    background-image: repeating-linear-gradient(-55deg, #adb8b8, #84b2b0 16px, #a5acab 16px, #a3cac5 32px);
    color: #ecedf0;
    background-size: 200% 200%;
    animation: bgAnim 100s linear infinite;
    overflow: hidden;
}

@keyframes bgAnim {
    100% {
        background-position: 100% 100%;
    }
}

.confetti {
    position: absolute;
    top: -100%;
    display: flex;
    height: 28px;
    width: 10px;
}

.confetti:nth-child(1) {
    left: 10%;
    background-color: #acc5cf;
    animation: fallingConfettiAnim1 1.5s linear infinite;
}

.confetti:nth-child(2) {
    left: 20%;
    background-color: #8ed399;
    animation: fallingConfettiAnim1 1.3s 0.2s linear infinite;
}

.confetti:nth-child(3) {
    left: 30%;
    background-color: #eddadd;
    animation: fallingConfettiAnim1 1.4s 0.4s linear infinite;
}

.confetti:nth-child(4) {
    left: 40%;
    background-color: #cbc3e3;
    animation: fallingConfettiAnim1 1.7s 0.1s linear infinite;
}

.confetti:nth-child(5) {
    left: 50%;
    background-color: #fcf4a3;
    animation: fallingConfettiAnim1 1.6s 0.7s linear infinite;
}

.confetti:nth-child(6) {
    left: 60%;
    background-color: #acc5cf;
    animation: fallingConfettiAnim1 1.4s 0.3s linear infinite;
}

.confetti:nth-child(7) {
    left: 70%;
    background-color: #8ed399;
    animation: fallingConfettiAnim1 1.1s 0.5s linear infinite;
}

.confetti:nth-child(8) {
    left: 80%;
    background-color: #eddadd;
    animation: fallingConfettiAnim1 1.4s 0.9s linear infinite;
}

.confetti:nth-child(9) {
    left: 90%;
    background-color: #cbc3e3;
    animation: fallingConfettiAnim1 1.9s 0.6s linear infinite;
}

.confetti:nth-child(10) {
    left: 100%;
    background-color: #fcf4a3;
    animation: fallingConfettiAnim1 1.2s 0.8s linear infinite;
}

@keyframes fallingConfettiAnim1 {
    0% {
        top: -100%;
        transform: rotate(0deg) rotateX(-90deg);
        opacity: 1;
    }

    100% {
        top: 100%;
        transform: rotate(360deg) rotateX(180deg);
        opacity: 0.5;
    }
}

.confetti:nth-child(11) {
    left: 5%;
    background-color: #acc5cf;
    animation: fallingConfettiAnim2 1.5s linear infinite;
}

.confetti:nth-child(12) {
    left: 15%;
    background-color: #8ed399;
    animation: fallingConfettiAnim2 1.3s 0.2s linear infinite;
}

.confetti:nth-child(13) {
    left: 25%;
    background-color: #eddadd;
    animation: fallingConfettiAnim2 1.4s 0.4s linear infinite;
}

.confetti:nth-child(14) {
    left: 35%;
    background-color: #cbc3e3;
    animation: fallingConfettiAnim2 1.7s 0.1s linear infinite;
}

.confetti:nth-child(15) {
    left: 45%;
    background-color: #fcf4a3;
    animation: fallingConfettiAnim2 1.6s 0.7s linear infinite;
}

.confetti:nth-child(16) {
    left: 55%;
    background-color: #acc5cf;
    animation: fallingConfettiAnim2 1.4s 0.3s linear infinite;
}

.confetti:nth-child(17) {
    left: 65%;
    background-color: #8ed399;
    animation: fallingConfettiAnim2 1.1s 0.5s linear infinite;
}

.confetti:nth-child(18) {
    left: 75%;
    background-color: #eddadd;
    animation: fallingConfettiAnim2 1.4s 0.9s linear infinite;
}

.confetti:nth-child(19) {
    left: 85%;
    background-color: #cbc3e3;
    animation: fallingConfettiAnim2 1.9s 0.6s linear infinite;
}

.confetti:nth-child(20) {
    left: 95%;
    background-color: #fcf4a3;
    animation: fallingConfettiAnim2 1.2s 0.8s linear infinite;
}

@keyframes fallingConfettiAnim2 {
    0% {
        top: -100%;
        transform: rotate(0deg) rotateY(90deg);
        opacity: 1;
    }

    100% {
        top: 100%;
        transform: rotate(-360deg) rotateY(-180deg);
        opacity: 0.5;
    }
}

.container {
    display: flex;
    height: 100%;
    width: 100%;
    margin: auto;
}

.img-container, .text-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    
}

.img-container {
    width: 30%;
    display: grid;
    place-content: center;
    overflow: hidden;
}

.img-container img {
    width: 100%;
    height: auto;

    transform: scale(1);
    opacity: 1;
     border-radius: 10%;
    animation: scaleOutIn 3s ease-in-out forwards;
}

/* Scale animation */
@keyframes scaleOutIn {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(0.7);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.text-container {
    width: 50%;
}

.text-container h1 {
    color: #fde8d5;
    font-size: calc(100px - 1vw);
    font-family: cursive;
    letter-spacing: 2px;
    text-shadow: none;
    margin: 2.5% 0;
    animation: openingTitleAnim 3s ease forwards;
}

@keyframes openingTitleAnim {
    0% {
        opacity: 0;
    }

    25% {
        transform: scale(1.1);
        text-shadow: 0 10px 10px #192e2d;
    }

    50% {
        transform: scale(1.15);
    }

    75% {
        transform: scale(1.1);
        text-shadow: 0 -10px 10px #192e2d;
    }

    100% {
        opacity: 1;
    }
}

.text-container h1 span {
    color: #fed2b7;
    font-size: calc(82px -1vw);
}

.text-container h2, .text-container h3, .text-container h4 {
    animation: beHiddenFirst 3s forwards, shadowAnim 3s 3s infinite;
}

@keyframes beHiddenFirst {
    0%, 90% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes shadowAnim {
    0%, 100% {
        color: #ecedf0;
        text-shadow: 10px 0 10px #192e2d;
    }

    50% {
        color: #ffc6cd;
        text-shadow: -10px 0 10px #192e2d;
    }
}

.text-container h2 {
    font-size: calc(64px - 1vw);
    font-family: serif;
    margin: 1.5% 0;
}

.text-container h3 {
    font-size: calc(36px - 0.25vw);
    font-family: fantasy;
}

.text-container h4 {
    font-size: calc(28px + 0.25vw);
    font-family: monospace;
}

@media (max-width: 768px) {

    .container {
        position: relative;
        flex-direction: column;
    }

    .img-container {
        width: 100%;
        position: relative;
    }

    .img-container img {
        width: 100%;
        height: auto;
    }

    .text-container {
        position: absolute;
        inset: 0;                
        z-index: -1;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        text-align: center;
        padding: 20px;

        
        width: 100%;
        height: 100%;
    }

    .text-container h1 {
        font-size: 32px;
    }

    .text-container h2 {
        font-size: 22px;
    }

    .text-container h3 {
        font-size: 16px;
    }

    .text-container h4 {
        font-size: 14px;
    }
}
